<!DOCTYPE html>
<html lang ="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>BoBo</title>
   <!-- Cascade Style Sheets-->
   <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="assets/css/style.css">
   <link rel="stylesheet" href="assets/css/angular-material.css">
    <!--Main Angular files-->
    <script src="assets/js/angular.js"></script>
     <script src="assets/js/angular-aria.js"></script> 
    <script src="assets/js/angular-route.js"></script>
    <script src="assets/js/angular-material.js"></script> 
    <script src="assets/js/angular-animate.js"></script>
   

    <!--Angular Config/Routes-->
    <script src="app/app.js"></script>  
    <script src="app/routes.js"></script>

    <!--Angular Controllers-->
    <script src="app/controllers/usrCtrl.js"></script>  
    <script src="app/controllers/mainCtrl.js"></script> 
     <script src="app/controllers/emailCtrl.js"></script>  
     <script src="app/controllers/countryCtrl.js"></script>  
     <!--<script src="app/controllers/stateCtrl.js"></script>  -->

    <!--Angular Services-->  
    <script src="app/services/userServices.js"></script>
    <script src="app/services/authServices.js"></script>
    <script src="app/services/countryServices.js"></script>
    <script src="app/services/stateServices.js"></script>
    <script src="app/services/profileServices.js"></script>
    <script src="app/services/uploadFileServices.js"></script>
    <script src="app/services/employerServices.js"></script>

   <!--Angular Directives--> 
    <script src="app/directives/fileModel.js"></script>
      <style>
   .navbar  > ul > li:hover > a, .navbar  > ul > a {
    background:#2e2728;
}
.navbar.arrow {
    font-size:11px;
    line-height:0%;
}
.navbar li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    /*box-shadow:0px 2px 3px rgba(0,0,0,0.2);*/
    /*background:#2e2728;*/
    background:#2e2724;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    /*display:block;*/
    color: white;
}
 
/*.sub-menu li a:hover, .sub-menu  a {
    background:grey;
    
}*/
/*a.eep{
 font-size: 12px;
}*/

 

        </style>
  </head>

  <body ng-app="userApp" ng-controller="mainCtrl as main" ng-show="main.loadme" ng-cloak>

 <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/login" ng-show="!main.isLoggedIn" >Login</a></li>
            <li><a href="/register" ng-show="!main.isLoggedIn">Join World's Experts</a></li>
            <li><a href="#" ng-show="main.isLoggedIn" ng-click="main.logout();"> Logout</a></li>
             <li> 
             <a class="eep" href="#" ng-show="main.isLoggedIn" >Hello {{main.firstname}}<br> Account & Lists<span class="arrow">&#9660;</span></a>
             
             <ul class="sub-menu">
                    <li><a href="/eep">Edit your Expertise</a></li>
                    <!--<li><a href="#">Coming Soon</a></li>
                    <li><a href="#">On DVD/Blu-ray</a></li>
                    <li><a href="#">Showtimes &amp; Tickets</a></li>-->
                </ul>
 </li>
        </ul>
        </div>
      </div>
    </nav>


    <div class="container theme-showcase" role="main">
      <div ng-view></div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>  
  </body>
</html>
