<html>
<div class="a-fixed-left-grid-inner" style="padding-left:100px"><div class="a-fixed-left-grid-col a-col-left" style="width:100px;margin-left:-100px;_margin-left:-50px;float:left;"><i data-hook="average-star-rating" class="a-icon a-icon-star-medium a-star-medium-4-5 averageStarRating"><span class="a-icon-alt">4.4 out of 5 stars</span></i></div>
<div class="a-fixed-left-grid-inner" style="padding-left:100px">
<div class="a-fixed-left-grid-col a-col-left" style="width:100px;margin-left:-100px;_margin-left:-50px;float:left;">
<i data-hook="average-star-rating" class="a-icon a-icon-star-medium a-star-medium-4-5 averageStarRating">
<span class="a-icon-alt">4.4 out of 5 stars</span>
</i>
</div>
<div class="a-fixed-left-grid-col a-col-right" style="padding-left:0%;*width:99.6%;float:left;">
<div class="a-row"><span data-hook="total-review-count" class="a-size-medium totalReviewCount">4,625</span>
</div>
</div>
</div>
</div>
</a>

<div class="a-row a-spacing-small">
<span class="a-declarative" data-action="a-popover" data-a-popover="{&quot;inlineContent&quot;:&quot;Amazon calculates a product\u2019s star ratings using a machine learned model instead of a raw data average. The machine learned model takes into account factors including: the age of a review, helpfulness votes by customers and whether the reviews are from verified purchases.&quot;}">
<a href="javascript:void(0)" class="a-popover-trigger a-declarative"><span data-hook="rating-out-of-text" class="arp-rating-out-of-text">4.4 out of 5 stars</span><i class="a-icon a-icon-popover"></i></a></span>
</div>
<div class="a-fixed-left-grid">
<div class="a-fixed-left-grid-inner" style="padding-left:185px">
<div class="a-fixed-left-grid-col a-col-left" style="width:185px;margin-left:-185px;_margin-left:-92.5px;float:left;">
<div class="a-row a-spacing-small">
<div class="a-section histogram">
<span class="a-declarative" data-action="reviews:filter-action:push-state" data-reviews:filter-action:push-state="{&quot;scrollToSelector&quot;:&quot;#reviews-filter-info&quot;,&quot;allowLinkDefault&quot;:&quot;1&quot;}">
    <table id="histogramTable" class="a-normal a-align-middle a-spacing-base">
        <tr data-reftag="cm_cr_dp_d_hist_5" data-reviews-state-param="{&quot;filterByStar&quot;:&quot;five_star&quot;,&quot;pageNumber&quot;:&quot;1&quot;}" class="a-histogram-row">
            <td class="aok-nowrap">
                <a class="a-size-base a-link-normal 5star" title="5 star" href="/Bluetooth-DOSS-High-Definition-Sensitive-Handsfree/product-reviews/B01MSTES8C/ref=cm_cr_dp_d_hist_5?ie=UTF8&filterByStar=five_star&reviewerType=avp_only_reviews#reviews-filter-bar">5 star</a>
                <span class="a-letter-space"></span>
            </td><td class="a-span10"><a class="a-size-base a-link-normal" href="/Bluetooth-DOSS-High-Definition-Sensitive-Handsfree/product-reviews/B01MSTES8C/ref=cm_cr_dp_d_hist_5?ie=UTF8&filterByStar=five_star&reviewerType=avp_only_reviews#reviews-filter-bar"><div class="a-meter 5star" aria-label="71%">
                <div class="a-meter-bar" style="width: 71%;">
                </div></div></a></td>

        </tr>
    </table>
</span>
</div></div></div></div></div>
</html>
